# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!*.yaml
!Data/*
!*.rb
!.gitignore
!README.md
!game.ini

# Images
!cut-dvd4.rpgmvp
!cut-dvd5.rpgmvp
!cut-dvd6.rpgmvp
!cut-gomunasi.rpgmvp
!cut-harigami1.rpgmvp
!cut-harigami2.rpgmvp
!cut-harigami3.rpgmvp
!cut-harigami4.rpgmvp
!cut-harigami5.rpgmvp
!cut-kyanpen1.rpgmvp
!cut-onani2.rpgmvp
!cut-onani3.rpgmvp
!cut-onani4.rpgmvp
!cut-onani5.rpgmvp
!cut-sns-01.rpgmvp
!cut-sns-02.rpgmvp
!cut-sns-03.rpgmvp
!cut-sns-04.rpgmvp
!cut-sns-05.rpgmvp
!cut-sns-06.rpgmvp
!cut-sns-07.rpgmvp
!cut-sns-08.rpgmvp
!cut-sns-09.rpgmvp
!cut-sns-10.rpgmvp
!cut-sns-11.rpgmvp
!cut-sns-12.rpgmvp
!cut-sns-13.rpgmvp
!cut-sns-14.rpgmvp
!cut-sns-15.rpgmvp
!cut-sns-16.rpgmvp
!cut-sns-17.rpgmvp
!cut-sns-18.rpgmvp
!cut-sns-19.rpgmvp
!cut-sns-20.rpgmvp
!cut-sns-21.rpgmvp
!cut-sns-22.rpgmvp
!cut-sns-23.rpgmvp
!cut-sns-24.rpgmvp
!cut-sns-25.rpgmvp
!cut-sns-26.rpgmvp
!cut-sns-27.rpgmvp
!cut-sns-29.rpgmvp
!cut-sns-30.rpgmvp
!cut-sns-31.rpgmvp
!cut-sns-32.rpgmvp
!cut-sns-33.rpgmvp
!cut-sns-34.rpgmvp
!cut-sns-35.rpgmvp
!cut-sns-36.rpgmvp
!cut-sns-37.rpgmvp
!cut-sns-38.rpgmvp
!cut-sns-41.rpgmvp
!cut-sns-42.rpgmvp
!cut-sns-43.rpgmvp
!cut-sns-44.rpgmvp
!cut-sns-45.rpgmvp
!cut-sns-46.rpgmvp
!cut-sns-47.rpgmvp
!cut-sns-48.rpgmvp
!cut-sns-49.rpgmvp
!cut-sns-50.rpgmvp
!cut-sns-51.rpgmvp
!cut-sns-52.rpgmvp
!cut-sns-53.rpgmvp
!cut-sns-54.rpgmvp
!cut-sns-56.rpgmvp
!cut-sns-57.rpgmvp
!cut-sns-58.rpgmvp
!cut-sns-61.rpgmvp
!cut-sns-63.rpgmvp
!cut-sns-64.rpgmvp
!cut-sns-65.rpgmvp
!cut-sns-66.rpgmvp
!cut-sns-68.rpgmvp
!cut-sns-69.rpgmvp
!cut-sns-72.rpgmvp
!cut-sns-74.rpgmvp
!cut-sns-75.rpgmvp
!cut-sns-76.rpgmvp
!cut-sns-78.rpgmvp
!cut-sns-79.rpgmvp
!cut-sns-80.rpgmvp
!cut-sns-81.rpgmvp
!cut-sns-82.rpgmvp
!cut-sns-83.rpgmvp
!cut-sns-84.rpgmvp
!cut-sns-85.rpgmvp
!cut-sns-86.rpgmvp
!cut-sns-87.rpgmvp
!cut-sns-88.rpgmvp
!cut-sns-89.rpgmvp
!cut-sns-96.rpgmvp
!meikan-1.rpgmvp
!meikan-me-burakio1.rpgmvp
!meikan-me-doriru1.rpgmvp
!meikan-me-kerubero1.rpgmvp
!meikan-me-sameburo1.rpgmvp
!meikan-me-syati.rpgmvp
!meikan-modoru-off.rpgmvp
!meikan-modoru-on.rpgmvp
!meikan-mon-anomaro.rpgmvp
!meikan-mon-bani.rpgmvp
!meikan-mon-burakio.rpgmvp
!meikan-mon-doriru.rpgmvp
!meikan-mon-kerubero.rpgmvp
!meikan-mon-sameburo.rpgmvp
!meikan-mon-shark.rpgmvp
!meikan-mon-shati.rpgmvp
!meikan-mon-sinsya.rpgmvp
!menu-basyo-off.rpgmvp
!menu-basyo-on.rpgmvp
!menu-kaiso-off.rpgmvp
!menu-kaiso-on.rpgmvp
!menu-option-off.rpgmvp
!menu-option-on.rpgmvp
!menu-save-off.rpgmvp
!menu-save-on.rpgmvp
!menu-syuryo-off.rpgmvp
!menu-syuryo-on.rpgmvp
!sta-s-huranken.rpgmvp
!sta-s-jurasikku.rpgmvp
!sta-s-pirania.rpgmvp
!sta-s-sikkusu.rpgmvp
!sta-s-six.rpgmvp
!sta-s-torunedo.rpgmvp